<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/2970945770FC137FF7D5D3408D5D40836FD4C715DE6A1744F6F5AF21B2386827/scale?width=1200&aspectRatio=1.78&format=webp"
        alt=""
      />
    </div>
    <div class="small-card__title">
      <h1><a href="">Saiu a nova versão do Angular </a></h1>
    </div>
  </div>
  <div class="container__small-card-separator">
    <hr />
  </div>
</div>
