<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://m.media-amazon.com/images/S/pv-target-images/9cf17c5615094819626799ce9ddf086bc646941f72ce347f0aff15b194f3044c.jpg"
      alt="NAO TA INDO"
      height="200px"
    />
  </div>
  <div class="big-card__title">
    <h1><a href="">Saiu a nova versão do Angular </a></h1>
    <div class="big-card__description">
      <p>
        <a href="#"
          >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit
          numquam, quae voluptatem reiciendis sapiente eius accusantium dolorum
          eaque in, aliquam aut modi iure iusto, fugit veritatis id nulla ipsum
          illo.</a
        >
      </p>
    </div>
  </div>
</div>
